/* Guidelines:
 *   - Use relative font sizes, not absolutes.  Let the user decide
 *     how large things should be.
 */
BODY {
  background-color: #FFFFFF;
}

P,LI,TH,DT,DD {
  font-family: Arial, Helvetica, sans-serif;
}

TD {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: text-top;
}

.ps {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.sm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

UL {
  font-family: Arial, Helvetica, sans-serif;
}

LI {
  font-family: Arial, Helvetica, sans-serif;
}

TD.directory {
  background-color: #DDDDDD;
}

TABLE.navbar {
  background-color: #CCFFCC;
}

H1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #000080;
  border: 1pt;
  border-style: solid;
  border-color: silver;
}

H2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
  border: 1pt;
  border-style: solid;
  border-color: silver;
  background-color: #000080;
}

.smallsubjectHead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

H3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.nounderline {
  text-decoration: none;
  background-color: transparent;
}

A:link {
  	color: #0000EE;
}

A:active {
  color: #EE0000;
}

A:visited {
  	color: #000099;
}		

A:hover {
  	color: #EE0000;
}

.standardtext {
  font-family: Arial, Helvetica, sans-serif;
}

.framed {
        border: 1pt;
        border-style: solid;
        border-color: silver;
}

.dashbox {
	border: 1pt;
	border-style: dashed;
	border-color: #FF0000;
	background-color: #CCCCCC;
}

